<%- layout('layout') %>

<div
  onclick="hideModal(event)"
  id="modal"
  class="fixed top-0 z-50 w-[100vw] h-[100vh] flex flex-col items-center justify-center bg-[rgba(0,0,0,0.5)]"
>
  <div
    class="w-[40vw] h-[50vh] bg-background rounded-lg flex flex-col items-center justify-center"
  >
    <form action="/nerit/buyNerit" method="post">
        <p>No. of Nerits</p>
        <input name="amount" step="0.01" min="0.01" max="1000" class="w-[20vw] h-[7vh] mt-[2vh] px-[1vw] py-[2vh] border-2 border-accent-dark bg-transparent outline-none" placeholder="10" type="number">
        <button class="flex mt-[2vh] flex-row items-center justify-center gap-2 px-[1vw] py-[2vh] border-none w-[20vw] text-[#fff] bg-accent-dark" type="submit">
            <p>Buy</p>
        </button>
    </form>
  </div>
</div>

<div class="w-[100vw] min-h-[100vh] p-[4vh]">
    <% if (!wallet) { %>
        <div class="w-[100vw] h-[76vh] flex flex-col text-accent-dark justify-center items-center">
            <p class="font-semibold text-2xl">You haven't created a wallet yet.</p>
            <button
            onclick="window.location.href='/nerit/createWallet'"
            class="flex mt-[2vh] flex-row items-center justify-center gap-2 px-[1vw] py-[2vh] border-none w-[9vw] text-[#fff] bg-accent-dark"
            type="submit"
            >
                <p>Create One</p>
            </button>
        </div>
    <% } else { %>

    <div class="w-[95vw] m-auto flex flex-row justify-between gap-[2vh] mb-[5vh]">
        <div class="flex flex-col gap-[2vh] flex-1 justify-center w-fit">
            <div class="flex flex-row w-[100%] h-[45vh] flex-wrap items-center  p-4 rounded-3xl bg-accent-light">
                <div class="w-[50%] p-8">
                    <p class="text-accent-dark text-[vh]">Current Value</p>
                    <h1 class="text-4xl font-extrabold text-accent-dark z-[100]"><span class="text-[3vh]">₹</span><%= nerit %></h1>
                </div>
                <div class="w-[50%] p-8">
                    <p class="text-accent-dark text-[vh]">Nerieum (g/Nerit)</p>
                    <h1 class="text-4xl font-extrabold text-accent-dark z-[100]"><%= wallet.money %>g</h1>
                </div>
                <div class="w-[50%] p-8">
                    <p class="text-accent-dark text-[vh]">Wallet Balance (Nerit)</p>
                    <h1 class="text-4xl font-extrabold text-accent-dark z-[100]"><span class="text-[3vh]">η</span><%= wallet.money %></h1>
                </div>
                <div class="w-[50%] p-8">
                    <p class="text-accent-dark text-[vh]">Wallet Balance (₹)</p>
                    <h1 class="text-4xl font-extrabold text-accent-dark z-[100]"><span class="text-[3vh]">₹</span><%= (Number(nerit) * Number(wallet.money)).toFixed(2) %></h1>
                </div>
            </div>
            <div class="flex flex-col w-[100%] h-[45vh] p-9 rounded-3xl bg-periwinkle">
                <h1 class="text-5xl font-extrabold text-accent-dark">Transactions</h1>
                <% if (!transactions) { %>
                    <div class="mt-5">
                        <p>Make transactions in shop.</p>
                    </div>
                <% } else { %>
                    <div class="mt-5">
                        <div class="flex flex-row justify-between items-center p-4 rounded-3xl">
                            <p class="text-accent-dark font-bold">S.no</p>
                            <p class="text-accent-dark font-bold">Product</p>
                            <p class="text-accent-dark font-bold">Price (Nerits)</p>
                            <p class="text-accent-dark font-bold">Date</p>
                        </div>
                        <% for (let i = 0; i < transactions.length; i++) { %>
                            <div class="overflow-y-scroll h-[20vh] p-0">
                                <div class="flex flex-row justify-between w-[100%] items-center p-4 rounded-3xl mb-2">
                                    <p class="text-accent-dark"><%= i + 1 %></p>
                                    <p class="text-accent-dark"><%= transactions[i].product %></p>
                                    <p class="text-accent-dark">η<%= transactions[i].biddingPrice %></p>
                                    <p class="text-accent-dark"><%= new Date(transactions[i].createdAt).toLocaleDateString() %></p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="graphs flex flex-col justify-center w-fit p-4 rounded-3xl bg-violet">
            <div id="myPlot" class="w-[32vw] h-[45vh] aspect-auto font-raleway"></div>
            <div id="myPlot2" class="w-[32vw] h-[45vh]  aspect-auto font-raleway"></div>
            <p id="nerits"><%= nerits %></p>
        </div>
    </div>
    <% } %>

</div>

<div
  onclick="showModal()"
  class="cursor-pointer fixed z-[100] bg-accent-dark text-background font-bold w-fit h-fit p-[2vh] bottom-[4vh] right-[4vh]"
>
<span class="text-xl text-accent-light">η</span>&nbsp; Buy Nerits
</div>

<style>
    .link {
        position: relative;
        text-decoration: none;
        color: inherit;
    }

    .link::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: currentColor;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    .link:hover::before {
        visibility: visible;
        width: 100%;
    }
    #modal, #nerits {
        display: none;
    }
</style>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    function showModal() {
        const modal = document.getElementById("modal");
        modal.style.display = "flex";
    }
    function hideModal(event) {
        const modal = document.getElementById("modal");
        if (event.target === modal) {
        modal.style.display = "none";
        }
    }
    var layout = {
        xaxis: {
            title: 'Dates',
            showgrid: false,
            zeroline: true, 
        },
        yaxis: {
            title: {
                text: 'Values',
                standoff: 5 // This controls the distance between the title and the axis labels
            },
            showline: true,
        },
        plot_bgcolor: '#b7b7f0',
        paper_bgcolor: '#b7b7f0',
        font: {
            family: 'Raleway',
            size: '1vw',
            color: '#11005e'
        },
        margin: {
            b: 50,
            t: 50,
        }
    };
    let nerits = JSON.parse(document.getElementById('nerits').innerText)
    // console.log(JSON.parse(nerits))
    var data = [
        {
            y: nerits.map(item => item.neritValue),
            x: nerits.map(item => new Date(item.date).toLocaleDateString()),
            type: 'scatter',
            mode: 'lines+markers',
            marker: {
                color: '#11005e',
                size: 10
            },
            line: {
                color: '#11005e',
                width: 0.5,
            },
        }
    ];
    var config = {
        modeBarButtonsToRemove: ['toImage'],
        displaylogo: false
    };
    Plotly.newPlot('myPlot', data, layout, config);
    Plotly.newPlot('myPlot2', data, layout, config);
</script>