<%- layout('layout') %>

<h1 class="text-center text-5xl font-extrabold mt-[4vh] mb-[4vh]" >Profile</h1>

Name: <%= user.fname + ' ' + user.lname %>
Email: <%= user.email%>
Role: <%= user.role%>
Avatar: <%= user.avatar %>