<%- layout('layout') %>

<h1 class="text-center text-6xl font-extrabold mt-[4vh] mb-[4vh]">Marketplace</h1>

<div class="objects w-[100%] flex flex-row flex-wrap justify-center items-center gap-[4vw] mr-[10%]">    
    <% for( let i = 0; i < itemList.length; i++ ) { %>
        <div class="object w-1/5">
            <div class="bg-periwinkle p-6 rounded-xl flex flex-col justify-center items-center">
                <img class="h-[25vh] w-[25vw] object-cover mb-6" src="<%= itemList[i].image%>" alt="content">
                <h2 class="text-3xl text-primary font-bold mb-1"><%= itemList[i].product%></h2>
                <p class="text-primary text-xl">Base Price : η&nbsp;<%= itemList[i].biddingPrice%></p>
                <p class="text-primary text-lg"><%= itemList[i].description %></p>
                <% if (itemList[i].live) { %>
                    <button type="button" class="bg-accent-light p-[1vw] w-[100%] mt-[2vh] text-2xl" onclick="window.location.href='/auction/<%= itemList[i]._id%>'">Bid Now!</button>
                <% } else if(itemList[i].createdBy === user.email){ %>
                    <button type="button" class="bg-accent-light p-[1vw] w-[100%] mt-[2vh] text-2xl" onclick="window.location.href='/shop/live/<%= itemList[i]._id%>'">Begin Auction</button>
                <% } else{%>
                    <button type="button" class="bg-accent-light p-[1vw] w-[100%] mt-[2vh] text-2xl">Stay tuned!</button>
                <% }%>
            </div>
        </div>
    <% } %>

    <div onclick="showModal()" class="fixed bg-violet text-accent-dark font-bold w-fit h-fit p-[2vh] bottom-[5vh] right-[5vh] hover:cursor-pointer">
        <i class="fa-solid fa-plus"></i>&nbsp;&nbsp; Add item for auction
    </div>
    
    <div
  onclick="hideModal(event)"
  id="modal"
  class="fixed w-[100vw] h-[100vh] flex flex-col items-center justify-center bg-[rgba(0,0,0,0.5)] top-0"
>
  <div
    class="w-[40vw] bg-background rounded-lg flex flex-col items-center justify-center"
  >
  <h1 class="text-center text-5xl font-extrabold top-0 text-accent-dark mt-[5vh]">Add Item to Shop</h1>
  <form action="/shop/add" method="post" class="flex flex-col gap-[1vw] w-[100%] p-[2vw]">
      <input type="text" name="name" placeholder="Enter name" class="w-[70%] m-auto focus:outline-none border-2 border-accent-dark h-[7vh] px-[1vw] py=[2vw]">
      <input type="number" name="price" placeholder="Enter price" class="w-[70%] m-auto focus:outline-none border-2 border-accent-dark h-[7vh] px-[1vw] py=[2vw]">
      <input type="text" name="image" placeholder="Enter image link" class="w-[70%] m-auto focus:outline-none border-2 border-accent-dark h-[7vh] px-[1vw] py=[2vw]">
      <input type="text" name="description" placeholder="Enter description" class="w-[70%] m-auto focus:outline-none border-2 border-accent-dark h-[7vh] px-[1vw] py=[2vw]">
      <button type="submit" class="flex flex-row items-center justify-center gap-2 px-[1vw] py-[2vh] w-[70%] border-none text-[#fff] bg-accent-dark m-auto">Submit</button>
  </form>
  </div>
</div>

</div>

<style>
    #modal {
      display: none;
    }
  </style>
<script>
    function showModal() {
    const modal = document.getElementById("modal");
    modal.style.display = "flex";
  }
  function hideModal(event) {
    const modal = document.getElementById("modal");
    if (event.target === modal) {
      modal.style.display = "none";
    }
  }
</script>